Repository koushik369mondal/WanderLust, pull requests merged in 2025-09, with the labels that each got.

#119 About us is now redirecting to about page
  app.js
  views/about.ejs
Labels: GSSoC'25, Level3

#130 loading spinner added
  public/CSS/loading.css
  public/JS/loading.js
  views/layouts/boilerplate.ejs
Labels: GSSoC'25, Level2

#137 Fix: Improve text contrast on Login and Signup pages for better readability
  public/CSS/style.css
Labels: GSSoC'25, Level2

#145 Added Glassmorphism Effect on privacy page
  public/CSS/style.css
  views/privacy.ejs
Labels: GSSoC'25, Level2

#146 Add Terms & Conditions Page + Glassmorphism Effect
  app.js
  public/CSS/style.css
  views/termCondition.ejs
Labels: GSSoC'25, Level2

#147 Added Glassmorphism to about page
  public/CSS/style.css
  views/about.ejs
Labels: GSSoC'25, Level2

#155 Fix/add missing sparkle animations [GSSoC 25]
  SPARKLE_IMPROVEMENTS.md
  public/CSS/style.css
  public/JS/script.js
Labels: GSSoC'25, Level2

#164 Feature: Implement Category Filtering on Main Listings Page
  controllers/listings.js
  views/includes/navbar.ejs
  views/listings/index.ejs
Labels: enhancement, GSSoC'25, Level3

#165 Feature/signup enhancements 162
  app.js
  config/passport.js
  controllers/listings.js
  controllers/users.js
  models/user.js
  package-lock.json
  package.json
  routes/user.js
  views/users/signup.ejs
Labels: GSSoC'25, Level2

#169 Feature: A personalized section of liked listings achieved
  controllers/listings.js
  controllers/users.js
  models/user.js
  routes/user.js
  views/includes/navbar.ejs
  views/users/liked.ejs
Labels: GSSoC'25, Level2

#172 Updated the necessary files.
  public/JS/script.js
  views/listings/edit.ejs
  views/listings/new.ejs
Labels: GSSoC'25, Level2

#177 FIXED: Improved create listing form
  views/listings/new.ejs
Labels: GSSoC'25, Level2
