Repository koushik369mondal/WanderLust, pull requests merged in 2025-10, with the labels that each got.

#183 fix: enhance font visibility and readability across the platform [GSSoC 2025]
  public/CSS/style.css
Labels: enhancement, GSSoC'25, Level2

#187 Implement Enhanced User Profile System with Advanced Features [GSSoC 2025]
  app.js
  controllers/listings.js
  controllers/users.js
  middleware.js
  models/badgeDefinition.js
  models/user.js
  models/wishlist.js
  routes/user.js
  services/badgeService.js
  views/includes/navbar.ejs
  views/listings/show.ejs
  views/users/profile.ejs
  views/users/wishlist.ejs
Labels: GSSoC'25, Level2

#188 Modern Design Enhancement [GSSoC 2025]
  MODERN_DESIGN_ENHANCEMENTS.md
  PR_SUMMARY.md
  design-preview.html
  public/CSS/style.css
  public/JS/script.js
  views/about.ejs
  views/includes/navbar.ejs
Labels: GSSoC'25, Level2

#190 Revert "Modern Design Enhancement [GSSoC 2025]"
  MODERN_DESIGN_ENHANCEMENTS.md
  PR_SUMMARY.md
  design-preview.html
  public/CSS/style.css
  public/JS/script.js
  views/about.ejs
  views/includes/navbar.ejs
Labels: GSSoC'25, Level3

#194 Revert "Feature/enhanced user profile system [GSSoC 2025]"
  CONTRIBUTION_COMPLETE.md
  ENHANCED_404_ERROR_PAGE.md
  GSSOC_2025_CONTRIBUTIONS_SUMMARY.md
  views/error.ejs
Labels: bug, GSSoC'25, Level3

#200 Revert "added wishlist destinations"
  controllers/listings.js
  controllers/users.js
  models/user.js
  routes/listing.js
  views/listings/show.ejs
  views/users/profile.ejs
  views/users/wishlist.ejs
Labels: GSSoC'25, Level2

#213 added ai chatbot
  .github/dependabot.yml
  .github/workflows/screenshot-check.yml
  app.js
  controllers/listings.js
  controllers/users.js
  routes/chatbot.js
  routes/user.js
  views/includes/chatbot.ejs
  views/includes/navbar.ejs
  views/layouts/boilerplate.ejs
  views/listings/show.ejs
  views/recommendations.ejs
Labels: GSSoC'25, Level2

#220 fixed wishlist issue
  controllers/users.js
  routes/user.js
  views/listings/show.ejs
Labels: GSSoC'25, Level2

#235 added live weather
  app.js
  controllers/listings.js
  public/JS/weather.js
  routes/weather.js
  services/weatherService.js
  views/listings/show.ejs
Labels: GSSoC'25, Level3

#239 added holidays calender
  .env.example
  README.md
  app.js
  package-lock.json
  package.json
  public/CSS/holiday.css
  routes/holiday.js
  views/holiday/calendar.ejs
  views/includes/navbar.ejs
Labels: GSSoC'25, Level3

#246 updated ui
  app.js
  checkUsers.js
  controllers/users.js
  createAdmin.js
  debugAuth.js
  directAdmin.js
  fixAdmin.js
  freshAdmin.js
  make-admin.js
  makeAdmin.js
  models/user.js
  public/CSS/style.css
  routes/admin.js
  routes/holiday.js
  routes/user.js
  simpleAdmin.js
  views/admin/dashboard.ejs
  views/holiday/calendar.ejs
  views/includes/footer.ejs
  views/includes/navbar.ejs
  views/listings/index.ejs
  views/users/profile.ejs
  views/users/vacation-slots.ejs
Labels: GSSoC'25, Level3

#247 added trip planner
  app.js
  docs/TRIP_PLANNER.md
  docs/VACATION_SLOTS_FIX.md
  models/user.js
  routes/tripPlanner.js
  services/tripPlannerService.js
  views/holiday/calendar.ejs
  views/includes/navbar.ejs
  views/tripPlanner/myTrips.ejs
  views/tripPlanner/planner.ejs
  views/users/vacation-slots.ejs
Labels: GSSoC'25, Level3

#250 added advance filtering option
  controllers/listings.js
  routes/listing.js
  views/listings/index.ejs
Labels: GSSoC'25, Level3

#253 fixed comparison issue
  views/listings/compare.ejs
  views/listings/index.ejs
Labels: GSSoC'25, Level3

#262 added admin-dash
  README.md
  TODO.md
  app.js
  debugAdmin.js
  docs/ADMIN_DASHBOARD.md
  fixAdmin.js
  models/user.js
  public/CSS/admin-dashboard.css
  public/JS/admin-dashboard.js
  quickAdmin.js
  routes/admin.js
  test-admin-dashboard.js
  testUser.js
  views/admin/dashboard.ejs
Labels: GSSoC'25, Level3
